/**
 * Footer styling
 */

 .footer {
    background: black;
    text-align: center;
    height: 100px;

    ul.social {
        padding-top: 40px;
        list-style: none;

        li {
            display: inline-block;
            text-indent: -9999px;
            background-repeat: no-repeat;
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }

            a {
                display: block;
            }
        }

        .soc-facebook {
            @include size(10px 20px);
            background-image: svg-url('<svg width="11" height="20" viewBox="0 0 11 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.406.004L7.812 0C4.9 0 3.016 1.932 3.016 4.922v2.27H.408c-.226 0-.408.182-.408.407v3.288c0 .225.183.407.408.407h2.608v8.297c0 .226.182.408.407.408h3.403c.225 0 .407-.183.407-.408v-8.297h3.05c.225 0 .407-.182.407-.407l.002-3.29c0-.107-.044-.21-.12-.287-.076-.076-.18-.12-.29-.12h-3.05V5.27c0-.925.222-1.394 1.426-1.394h1.747c.226 0 .408-.184.408-.41V.413c0-.225-.182-.407-.407-.408z" fill="#FFF" fill-rule="evenodd"/></svg>');
            
            &:hover {
                background-image: svg-url('<svg width="11" height="20" viewBox="0 0 11 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.406.004L7.812 0C4.9 0 3.016 1.932 3.016 4.922v2.27H.408c-.226 0-.408.182-.408.407v3.288c0 .225.183.407.408.407h2.608v8.297c0 .226.182.408.407.408h3.403c.225 0 .407-.183.407-.408v-8.297h3.05c.225 0 .407-.182.407-.407l.002-3.29c0-.107-.044-.21-.12-.287-.076-.076-.18-.12-.29-.12h-3.05V5.27c0-.925.222-1.394 1.426-1.394h1.747c.226 0 .408-.184.408-.41V.413c0-.225-.182-.407-.407-.408z" fill="#FD5454" fill-rule="evenodd"/></svg>');
            }
        }

        .soc-twitter {
            @include size(24px 20px);
            background-image: svg-url('<svg width="25" height="21" viewBox="51 -1 25 21" xmlns="http://www.w3.org/2000/svg"><path d="M75.66 2.366c-.91.402-1.882.674-2.906.796C73.8 2.537 74.6 1.546 74.978.37c-.98.578-2.062.998-3.214 1.226C70.84.612 69.528 0 68.072 0c-2.794 0-5.06 2.262-5.06 5.05 0 .395.045.78.132 1.15-4.204-.21-7.93-2.22-10.426-5.277-.436.745-.684 1.613-.684 2.54 0 1.75.894 3.298 2.25 4.202-.83-.028-1.61-.255-2.292-.634v.064c0 2.447 1.745 4.488 4.057 4.953-.424.114-.87.177-1.333.177-.327 0-.643-.032-.953-.094.644 2.008 2.512 3.468 4.725 3.508-1.732 1.354-3.914 2.16-6.283 2.16-.41 0-.81-.026-1.207-.07C53.24 19.163 55.897 20 58.754 20c9.305 0 14.392-7.696 14.392-14.37l-.017-.654c.993-.708 1.852-1.597 2.53-2.61z" fill="#FFF" fill-rule="evenodd"/></svg>');
            
            &:hover {
                background-image: svg-url('<svg width="25" height="21" viewBox="51 -1 25 21" xmlns="http://www.w3.org/2000/svg"><path d="M75.66 2.366c-.91.402-1.882.674-2.906.796C73.8 2.537 74.6 1.546 74.978.37c-.98.578-2.062.998-3.214 1.226C70.84.612 69.528 0 68.072 0c-2.794 0-5.06 2.262-5.06 5.05 0 .395.045.78.132 1.15-4.204-.21-7.93-2.22-10.426-5.277-.436.745-.684 1.613-.684 2.54 0 1.75.894 3.298 2.25 4.202-.83-.028-1.61-.255-2.292-.634v.064c0 2.447 1.745 4.488 4.057 4.953-.424.114-.87.177-1.333.177-.327 0-.643-.032-.953-.094.644 2.008 2.512 3.468 4.725 3.508-1.732 1.354-3.914 2.16-6.283 2.16-.41 0-.81-.026-1.207-.07C53.24 19.163 55.897 20 58.754 20c9.305 0 14.392-7.696 14.392-14.37l-.017-.654c.993-.708 1.852-1.597 2.53-2.61z" fill="#FD5454" fill-rule="evenodd"/></svg>');
            }
        }

        .soc-instagram {
            @include size(20px);
            background-image: svg-url('<svg width="20" height="20" viewBox="116 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M118.567 0h14.866C134.845 0 136 1.045 136 2.567v14.866c0 1.522-1.155 2.567-2.567 2.567h-14.866c-1.412 0-2.567-1.045-2.567-2.567V2.567C116 1.045 117.155 0 118.567 0zm12.002 2.222c-.496 0-.9.412-.9.916V5.33c0 .505.404.917.9.917h2.26c.495 0 .9-.412.9-.916V3.14c0-.504-.405-.916-.9-.916h-2.26zm3.17 6.236h-1.76c.166.544.256 1.12.256 1.716 0 3.326-2.784 6.023-6.217 6.023-3.434 0-6.217-2.697-6.217-6.023 0-.597.09-1.173.256-1.716h-1.838v8.448c0 .437.358.795.796.795h13.927c.437 0 .795-.356.795-.794V8.458zm-7.72-2.393c-2.22 0-4.018 1.742-4.018 3.892s1.8 3.892 4.017 3.892c2.217 0 4.016-1.744 4.016-3.893 0-2.15-1.8-3.892-4.017-3.892z" fill="#FFF" fill-rule="evenodd"/></svg>');
            
            &:hover {
                background-image: svg-url('<svg width="20" height="20" viewBox="116 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M118.567 0h14.866C134.845 0 136 1.045 136 2.567v14.866c0 1.522-1.155 2.567-2.567 2.567h-14.866c-1.412 0-2.567-1.045-2.567-2.567V2.567C116 1.045 117.155 0 118.567 0zm12.002 2.222c-.496 0-.9.412-.9.916V5.33c0 .505.404.917.9.917h2.26c.495 0 .9-.412.9-.916V3.14c0-.504-.405-.916-.9-.916h-2.26zm3.17 6.236h-1.76c.166.544.256 1.12.256 1.716 0 3.326-2.784 6.023-6.217 6.023-3.434 0-6.217-2.697-6.217-6.023 0-.597.09-1.173.256-1.716h-1.838v8.448c0 .437.358.795.796.795h13.927c.437 0 .795-.356.795-.794V8.458zm-7.72-2.393c-2.22 0-4.018 1.742-4.018 3.892s1.8 3.892 4.017 3.892c2.217 0 4.016-1.744 4.016-3.893 0-2.15-1.8-3.892-4.017-3.892z" fill="#FD5454" fill-rule="evenodd"/></svg>');
            }
        }
    }
}